<nav class='top-bar'>
  <ul class='title-area'>
    <li class='name'></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class = "top-bar-section">
    <% if current_page? joraaver_path %>
      <ul class='right'>
    <% else %>
      <ul class='left'>
    <% end %>
      <li><a href="#">Home</a></li>
      <li class ='divider'></li>
      <li><%= link_to "Musings", '/musings', id: "musings_top_link" %></li>
      <li class ='divider'></li>  
      <li><%= link_to "Projects", projects_path, id:"nav_projects"%></li>
    </ul>
  </section>
</nav>  
