<div class="row">
  <div class="large-12 columns">
    <div id = "top-grey">
      HIGH
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns">
    <div id = "left-panel">
      <div class="row">
        <div class="small-2 columns"> 
          <div id="left_grey_container", class= "containers">
            <%= image_tag "Arrow-Left.png", class: "arrows"%>
          </div>
        </div>
      </div>
     </div>
  </div>
  <div class="large-2 columns">
    <div id="extra_info_top", class="extra_info">
      What
    </div>
    <div class="extra_info">
      is
    </div>
    <div class="extra_info">
      this?
    </div>
    <%= image_tag "Arrow-Down.png"%>
  </div>
  <div class="large-5 columns">
    <div id = "right-panel">
      <div class="row">
        <div class="small-2 small-offset-10 columns"> 
          <div id="right_grey_container", class="containers">
            <%= image_tag "Arrow-Right.png", class: "arrows"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

