<div id="about">
  <div class="row">
    <div class = "small-4 small-offset-2 columns">
      <div id = "top_words", class = "words">
        This is us.
      </div>
    </div>
    <div class = "small-6 columns">
      <%= image_tag "Arrow-Left.png"%>
    </div>
  </div>
  <div class="row">
    <div class = "small-5 columns">
      <%= image_tag "Arrow-Left.png"%>
    </div>
    <div class = "small-6 columns">
      <div id = "middle_words", class = "words">
        We are here to share with you our ideas, projects, ramblings, philosophies, works and creative pursuits. 
      </div>
    </div>
    <div class = "small-1 columns">
    </div>
  </div>
  <div class="row">
    <div class = "small-2 columns">
      <%= image_tag "Arrow-Left.png", class: "arrows_about"%>
    </div>
    <div class = "small-3 columns">
      <div id="bottom_left_words", class="words">
        This way, you can see Suchaaver's illustrations, concept art, graphic design, and thoughts on various topics.
      </div>
    </div>
    <div class = "small-3 small-offset-2 columns">
      <div id="bottom_right_words", class="words">
        Over here, you can follow Joraaver in his various interests, from robotics and the Arduino, to juggling and fitness.
      </div>
    </div>
    <div class = "small-2 columns">
      <%= image_tag "Arrow-Right.png", class: "arrows_about"%>
    </div>
  </div>
</div>
