<% provide(:title, "Contact") %>
<%= render 'shared/nav_j' %>

  <div class = "row">
    <div class = "small-7 small-offset-5 columns">
      <p class = 'blue_words', id="all_proj_large">Contact Me</p>
    </div>
  </div>
  <br />
  <div class = "row">
    <div class = "small-6 small-offset-5 columns">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class = "small-1 columns"></div>
  </div>
  <br />
  <div class = "row">
    <div class = "small-6 small-offset-5 columns">
	<%= render 'form' %>
    </div>
    <div class = "small-1 columns"></div>
  </div>
  <br />
  <div class = "row">
    <div class = "small-4 small-offset-7 columns">
    </div>
    <div class = "small-1 columns"></div>
  </div>
