<div class = "row">
  <div class= "small-12 columns">
    <%= content_tag "div", data: {photo: Image.find_by_project_id(proj.id).photo.url, item: proj  } do %>
      <%= image_tag  Image.find_by_project_id(proj.id).photo.url, id: "thumbnail#{proj.id}", :class => "thumbnails" %>
    <%end %>
  </div>
</div>
