
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You need to moderate a comment from</h1>
    <p> <%= @s_comment.name %></p>
    <h2>His comment is this: </h2>
    <p><%= @s_comment.comment %> </p>
    <h2>You can reply to his email address here:</h2>
    <p><%= @s_comment.email %></p>
  </body>
</html>
