// Place all the styles related to the musings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #FFA501;
$our-gray:#D1D1D1;
$light-blue: #C9F0FF;

body {
  background-color: #F4F4F4;
}
#musing_divider{
  margin: 0 0 15px 0;
}

#info_musing{
  overflow: hidden;
  height: 170px;
  
}

 #more_musing_button{
 float:right;
 width: 40%;
 margin-top: 15px;
 height: 3em;
 border-radius: 8px;
 background-color: #FBB026;
   background-image: -webkit-linear-gradient(top, #FBB026 86%, #F78108 86%); 
   background-image:    -moz-linear-gradient(top, #FBB026 86%, #F78108 86%); 
   background-image:     -ms-linear-gradient(top, #FBB026 86%, #F78108 86%);
   background-image:      -o-linear-gradient(top, #FBB026 86%, #F78108 86%);
 }
#more_musing_button:hover{
 background-color: #FBB026;
 margin-top: 16px;
   background-image: -webkit-linear-gradient(top, #FBB026 93%, #F78108 93%); 
   background-image:    -moz-linear-gradient(top, #FBB026 93%, #F78108 93%);  
   background-image:     -ms-linear-gradient(top, #FBB026 93%, #F78108 93%); 
   background-image:      -o-linear-gradient(top, #FBB026 93%, #F78108 93%);  
   
 }

 #more_musing{
  color: white;
  text-align: center;
  line-height: 2em;
  font-size: 150%;
}

#musing_date{
  float: center;
  color: #23A3CD;
  margin-top: 10px;
  margin-bottom: 10px;
 }

.module_musing{
  border: solid 5px white;
}

.musing_border{
  border: solid 1px #23A3C9;
  background-color: #D1E5FF;
 
  #first {
    border: solid 2px white;
    padding: 2%;
    margin-left: 20%;
    background-color:$light-blue;
  }
  
  #date {
    text-align: left;
  }
  #title {
    text-align: left;
  }
}
