// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "foundation/variables";
//@import "foundation/components/global";
//@import "foundation/components/buttons";

body{
  background-color: #F2F2F2;
}

.module_bg{
    background-color: #E8EFF1;
    border: 1px solid #A9CCE5;
    margin: 10% 0;
    box-shadow: 0 0 2px 3px #FFFFFF;
  }
#title{
  text-align: center;
  margin-top: 10px;
  font: {
    size: 2.5em;
  }
}

#date{
  text-align: center;
  color: #23A3CD;
  margin-top: 10px;
  margin-bottom: 10px;
}

#info{
  text-align: center;
  margin-bottom: 15px;
}

#pic{
  height: 9em;
  background-color: #EEFCFF;
  box-shadow: 0 0 1px 2px #FFFFFF;
  border: 1px solid #A9CCE5;
  margin-bottom: 4%;
  }

#more_button{
 //width: 100%;
 height: 2em;
 background-color: #FBB026;
 margin-bottom: 10px;
 text-align: center;
 line-height: 2em;
 border-radius: 4px;
 }
#more_button:hover{
   background-color: #23A3CD;
   background-image: -webkit-linear-gradient(top, #FEC863, #FCB129); 
   background-image:    -moz-linear-gradient(top, #2F2727, #1a82f7);
   background-image:     -ms-linear-gradient(top, #2F2727, #1a82f7);
   background-image:      -o-linear-gradient(top, #2F2727, #1a82f7);
   
 }


#more_text{
  color: white;
}
