// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about{
    display: none; 
}

div{

  .arrows{
    padding: 12%;
  }

  .words{
    color: #A9CCE5;
  }

  // Title Page tags


  #top-grey{
    width:100%;
    height: 8em;
  }
  
  
  .containers{
    background: #F2F2F2;
    //border: 1px solid black;
    margin-top: 22em;
  }
  #left_grey_container{
    box-shadow: -5px -5px 4px #E4E4E4 inset;
    
  }

  #right_grey_container{
    box-shadow: 5px -5px 4px #E4E4E4 inset;
    
  }

  #left-panel{
    background-color:white;
    width: 100%;
    //margin-left: -3%;
    box-shadow: 7px -7px 4px #E4E4E4;
  }

  #right-panel{
    background-color:white;
    width:100%;
    box-shadow: -7px -7px 4px #E4E4E4;
    //width: 34em;
    //margin-left: .9em;
  }

  .extra_info_top{
    margin-top: 8em;
    // position: relative;
  }

  .extra_info{
    font-family: FaktSlabConPro-Blond;
    font-size: 3em;
    text-align:center;
    //border: 1px solid black;
  }

  //About Page tags
  
    

  #top_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 4em;
    margin: 1em .5em;
  }
  #middle_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 3em;
    margin: 0.5em .5em;
    text-align:center;
  }

  #bottom_left_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 2em;
    margin: 1em .5em;
    text-align: left;
  }

  #bottom_right_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 2em;
    margin: 1em .5em;
    text-align: right;
  }

  .arrows_about{
    //border: 1px solid black;
    padding: 20%;
    margin-top: 3em;
  }
}

img{
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  //border: 1px solid black;
}



