// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #FF9900;
$our-gray:#DEDCDC;
$light-blue: #0AB3C9;

#encase{
  //background-image: image-url("background_13.png"); 
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
  }

  .top-bar{
    margin-left: 20%;

}

#home_arrow{
  display: block;
  padding: 0 20% 20% 20%;
}

.project_img{
  border: solid 2px black;
  height: 200px;
}

.circle{
  height: 2em;
  width:  2em;
  opacity: 0.3;
  background-color: #A9CCE5;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-right: -1.1em;
  margin-top: 17%;
  padding: 0;
  float: right;
  
}
.orange_words{
  font-family: FaktSlabConPro-Light;
  
  color: #FBB026;
}

.blue_words{
  font-family: FaktSlabConPro-Light;
  
  color: #A9CCE5;
}      

#lower_name{
  font-size: 4em;
  letter-spacing: 4px;
  margin: .1em 0 0 .2em;
  text-align: center;
}

#middle_name{
  font-family: FaktSlabConPro-NormalItalic; 
  font-size: 2em;
  letter-spacing: 4px;
  margin: 0 0 0 1em;
  text-decoration: none;
}

#top_name{
  //border: solid 1px black;
  font-size: 500%; //6em;
  letter-spacing: 11px;  
  //margin-left: 2em;
  margin:0 0 0 1em;
  padding: 0;
}  
  


div{

  .arrows{
    padding: 12%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    //border: 1px solid black;
  }

  .transition{
    text-align:center;
    display:block;
    background:url('Arrow-Down.png') center top no-repeat;
    width:100%;
    height: 13em;
    //border: 1px solid black;
    &:hover {
      background:url('Arrow-Down-Hover.png') center top no-repeat;
      margin-top: 1em;
    }
 
  }


  .words{
    color: #A9CCE5;
  }

  // Title Page tags


  #top-grey{
    width:100%;
    height: 8em;
  }
  
  
  .containers{
    //background: #F2F2F2;
    //border: 1px solid black;
    margin-top: 22em;
  }
  #left_grey_container{
    box-shadow: -5px -5px 4px #E4E4E4 inset;
    
  }

  #right_grey_container{
    box-shadow: 5px -5px 4px #E4E4E4 inset;
    
  }

  #left-panel{
    background-color:white;
    width: 100%;
    //margin-left: -3%;
    box-shadow: 7px -7px 4px #E4E4E4;
  }

  #right-panel{
    background-color:white;
    width:100%;
    box-shadow: -7px -7px 4px #E4E4E4;
    //width: 34em;
    //margin-left: .9em;
  }

  .extra_info_top{
    margin-top: 8em;
    // position: relative;
  }

  .extra_info{
    font-family: FaktSlabConPro-Blond;
    font-size: 3em;
    text-align:center;
    //border: 1px solid black;
  }

    

  //About Page tags
  
    

  #top_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 4em;
    text-align:left;
    margin: 1em 0em;
  }

  #middle_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 2em;
    text-align: right;
    margin-top: 1em;
  } 

  #bottom_left_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 2em;
    //margin: 1em .5em;
    text-align: left;
  }
                                                        
  #bottom_right_words{
    font-family: FaktSlabConPro-Blond;
    font-size: 2em;
    //margin: 1em .5em;
    text-align: right;
  }

  .arrows_about{
    display:block;
   // border: 1px solid black;
    padding:20%; 
   //margin-bottom: 7em;
  }
  
  .arrows_about_up{
    display:block;
    text-align:center;
    margin-top: 2em;
  }

  #up_info{
    font-family: FaktSlabConPro-Blond;
    font-size: 2em;
    text-align: center;
  }
  .about_bot_row{
    margin-top:2em;
  }
}

.orbit-container{
  height: 300px;
}

#slider {
  list-style-type: none;
  height: 300px;
  }

#slider li{
  display: inline;
  position: absolute;
  margin: 100px;
  }


#gallery-wrap{position: relative; overflow: hidden;}

#gallery li{float: left; margin: 0 20px 15px 0;}
#gallery li a img{border: 4px solid #40331b; height: 175px; width: 160px;}

/* Joraaver & Suchaaver Pages */

#header_pic{
 height:2px;
 background: $light-blue;
}

#major_info{
  padding-left:1em;  

  #details {
    font-size: 140%;
  }
  
}




