<div class = "row">
  <div class = "small-4 columns">
    <%= render 'shared/nav_j' %>
  </div>
  <div class = "row">
    <div class = "small-4 small-offset-7 columns">
       <%= link_to "Latest Musing", musing_path(Musing.last), :class => 'blue_words', :id => "latest_proj_small"%>
    </div>
  </div>
  <div class = "row">
    <div class = "small-7 small-offset-5 columns">
      <p class = 'blue_words', id="all_proj_large">All Musings</p>
    </div>
  </div>
  <div class = "row">
    <div class ="small-6 small-offset-5 columns">
      <hr id = "header_pic">
    </div>
  </div>  
  <div class = "row">
  <div class = "large-6 small-offset-5 columns">
    
    <% provide(:title, "musings") %>
    
    <%= render :partial => @musings%>
    <div class ="row">
      <div class = "small-4 small-offset-3 columns">
        <%= will_paginate @musings, :class => 'apple_pagination', :previous_label => image_tag('paginate_left.png'),  :next_label => image_tag('paginate_right.png') %>
      </div>
    </div>
  </div>
  </div> 
  </div>  
</div>
